<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kitto Puppy</title>
</head>
<body>
    <div>
        @Html.ActionLink("Home", "Index", "Home")

        
        @Html.ActionLink("Customer", "Index", "Customer")
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
